.copy-about{
    font-family: 'HafferRegular', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    margin: 7.5vw;
    padding-bottom: 10vw;
}

.hyper-link{
    color: blue;
    font-family: 'HafferItalic', sans-serif;
    text-decoration: none;
}

.img-about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.background-about{
    background-image: url("../../assets/arrows-lower-opac-extended.svg");
    background-color: #ffffff;
    background-repeat: repeat;
    background-size: 222vh;
    position: absolute;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-image {
    max-width: 90%;
    max-height: 90%;
  }